@page "/events"

@inject IDeleteEventUseCase DeleteEventUseCase
@inject NavigationManager NavigationManager
@inject IViewEventsByNameUseCase ViewEventsByNameUseCase
 
<h3>EventList</h3>

 
<br />

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Description</th>
            <th>Дата початку</th>
            <th>Дата завершення</th>
            <th>Локація</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @if (Events != null && Events.Any())

        {
            @foreach (var ev in Events)

            {
                <tr>
                    <td>@ev.Title</td>
                    <td>@ev.Description</td>
                    <td>@ev.StartDate.ToShortDateString()</td>
                    <td>@ev.EndDate.ToShortDateString()</td>
                    <td>@ev.Location</td>
                    <td>
                        <a href="/edit-event/@ev.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a href="/event-details/@ev.Id" class="btn btn-info">Details</a>
                    </td>
                    <td>
                        <EditForm Model="ev"
                                  FormName="@($"form-delete-event-{ev.Id}")"
                                  OnValidSubmit="@(() => DeleteEvent(ev.Id))">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </EditForm>
                    </td>
                </tr>
            }
        }

        else

        {
            <tr>
                <td colspan="6" class="text-center">Подій не знайдено</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-start mb-3">
    <a href="/add-event" class="btn btn-success btn-lg">Add Event</a>
</div>

@code {
    private List<Event>? Events;

     



    


    protected override async Task OnParametersSetAsync()

    {

        Events = (await ViewEventsByNameUseCase.ExecuteAsync()).ToList();

    }



    private async Task DeleteEvent(int id)

    {

        await DeleteEventUseCase.ExecuteAsync(id);

        NavigationManager.Refresh();

    }
}

